html, body {
    margin: 0;
    padding: 0;
    --red: #F44336;
    --blue: #2196F3;
    --green:  #4CAF50;
    --black: #3d3d3d;
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--black);
    position: fixed;
    top: 0;
    color: #fff;
    z-index: 3;
}

#userCard {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte {
    border: 1px solid var(--black);
    width: 800px;
    min-height: 750px;
    margin: 0 40px 0 40px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 95%;
    height: 95%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 1200px) {
    #userCard {
        flex-direction: column;
    }

    .carte {
        width: 95%;
    }

    .formulaire {
        margin: 80px 0 40px 0;
    }

    .result {
        margin: 0 0 80px 0;
    }
}

@media screen and (max-height: 800px) {
    #userCard {
        height: 100vh;
    }

    .carte {
        height: 75%;
        margin-top: 580px;
    }
}

